body
{
	background-color: #0C0C0C;
}
.menu-container
{
	position: fixed;
}
.main
{

	height:100%;
	width:100%;
    
}
.hello
{

	height:100%;

}

.left
{
	
	margin-top: 80px;
	text-align: center;
	
	height:100%;
	width:50%;
	float:left;
}
.right
{

	margin-top: 80px;
	height:100%;
	width:50%;
	float:left;
	

}
a{
	color:white;
	text-decoration: none;
}
.aboutleft
{

	float: left;
	width:50%;
}
.content
{
	height:100%;
	margin-top: 10%;
	padding-left:30px;
	text-align: center;

}
.about
{

	height:100%;
	
	

}
.about,.internship,.education,.project,.certificate
{
	margin-top:10%;
	padding-left:30px;

}



.menu-container {
  color: #fff;
  background-color: #0C0C0C;  /* Blue */
  padding: 20px 0;
  display:flex;
    justify-content: center;    /* Add this */

}

.menu {
	padding-left: 50px;
  width: 1200px;
  font-family: "Poppins", Arial, sans-serif;
  display: flex;
  justify-content: space-around;

}
.links {
  
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-family: "Lucida Console", Monaco, monospace;	


  
}
.aadi
{
	font-weight: 900;
}
.aboutm,.Educationa,.Internships,.Certificates,.Projects
{
	margin-left: 40px;
	padding-bottom: 2px;
	box-sizing: border-box;
}
.aboutm:hover,.Educationa:hover,.Internships:hover,.Certificates:hover,.Projects:hover
{
	  
	  cursor: pointer;
	    border-bottom: 2px solid #ffbd39;

}
.active {
	color:#ffbd39;
  border-bottom: 2px solid #ffbd39;
}
.footer {
  display: flex;
  justify-content: space-between;
  width:70%;


}

.footer-item {
	margin-right: 50px;
  border: 1px solid #fff;
  background-color: #1b1b1b;
  height: 200px;
  flex: 1;
  display: block;
  border-radius: 6px;
  border:0;
  padding:4px;

}
.footer-one:hover
{
	  background-image: url("");

}
.internship,.education,.project,.Certificate
{
	text-align:center;


}
.footer-one
{
	margin-left:160px;
}
.footer1 {
  
  width:90%;


}
.footer2
{
	display: flex;
	width:50%;
}
.footer-1,.footer-2,.footer-3
{

	margin-top:30px;
	margin-left:150px;
}


.a:hover,.b:hover,.c:hover
{
	
	
	
	
}
.footer-c,.footer-d,.footer-e
{
	margin-left:40px;
	


}
.footer-c:hover,.footer-d:hover,.footer-e:hover
{
	background-color: #ffbd39;
	


}
.certificate
{
	margin-bottom: 20px;
}


